@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .introsection {
    padding-top: 100px;
    text-align: center;
  }

  .main-container {
    flex-direction: column;
  }

  .image-wrapper {
    display: none;
  }
  .mobile-img-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  .mobile-pic {
    height: 250px;
    width: 250px;
  }

  .maintext h1 {
    font-size: 2.2rem;
  }

  .btn-group {
    justify-content: center;
    flex-wrap: wrap;
  }
}
